cassandra-driver==3.3.0
ccm==2.1.7
EasyProcess==0.2.2
Flask==0.10.1
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
oauthlib==1.0.3
PyVirtualDisplay==0.2
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.1
selenium==2.53.2
six==1.10.0
tweepy==3.5.0
Werkzeug==0.11.8
