{% extends "base.html" %}
{% block title %} About {% endblock title %}
{% block styles %}
    {# Custom CSS styles for about.html #}
    <style>

    </style>
{% endblock styles %}

{% block head %}

<meta http-equiv="refresh" content="1;url=/">

{% endblock head %}

{% block page_description %}
    <div class="row">
        <h1>Uh Oh! The page you are requesting does not exist!</h1>

        <p class="lead">
            Redirecting....
        </p>
    </div>
{% endblock page_description %}

{% block content %}

{% endblock content %}
