{% extends "base.html" %}
{% block title %} About {% endblock title %}
{% block styles %}
    {# Custom CSS styles for about.html #}
    <style>

    </style>
{% endblock styles %}

{% block head %}

<meta http-equiv="refresh" content="3;url=/">

{% endblock head %}

{% block page_description %}
    <div class="row">
        <h1>Take a break</h1>

        <p class="lead">
            Looks like you have used up our monkey brain! Come back in 15 minutes to continue!
        </p>
    </div>
{% endblock page_description %}

{% block content %}

{% endblock content %}
