{% extends "base.html" %}
{% block title %} Home Page {% endblock title %}
{% block styles %}
	{# Custom CSS styles for index.html #}
	<style>

	</style>
{% endblock styles %}
{% block head %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock head %}

{% block page_description %}
	<div class="row">
		<h1>Social Media Analytics for Everyone</h1>
        <br>
		<br>
	</div>
{% endblock page_description %}

{% block content %}

<div class="row">
    <!-- Sidebar -->
    <div class="col-sm-2 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="text-left">Browse Influencers <br>By Category</li>
            <br>

            {% for entry in categories %}

                <div class="dropdown text-left">

                    <button class="sidebar-btn btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="category-name">{{ entry['categoryName'] }}</span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right">
                        {% for subcategory in entry['subCategories'] %}
                            <li class="category-clickable"><a href="/influencers/{{subcategory}}" target="_self">
                            {{ subcategory }}
                        </a></li>&nbsp;
                        {% endfor %}
                    </ul>
                    <br>

                </div>
            {% endfor %}
        </ul>
    </div>
    <!-- Sidebar END -->

    <div class="col-sm-10 col-md-10 main">

        <!-- (I) Trending Influencers -->
        <span class="error-msg">{{ error_msg }}</span>
        <span class="text-left"><h2>Trending Now {{ view_category }}</h2></span>
        <br>

        <!-- 'set' statements for computing index to access corresponding link -->
        {% set j = 0 %}
        {% for row in users | batch(2) %}
        <div class="row flex">
            {% for user in row %}
                {% set i = j + loop.index0 %}
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div class="panel panel-default text-left">

                        <!-- (1) heading -->
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <img src={{ user['profile_image_url'] }} alt="">
                                </div>
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <h3><a href="{{ links[i] }}">@{{ user['screen_name'] }}</a></h3>
                                    <small><em><strong>{{ user['name'] }}</strong></em></small>
                                </div>
                            </div> <!-- end class="row" -->
                        </div>

                        <!-- (2) body -->
                        <div class="panel-body col-sm-12 col-md-12 col-lg-12"> <p>
                            {{ user['status']['text'] | safe }}
                        </div>

                        <!-- (3) footer -->
                        <div class="panel-footer text-right">
                            <span class="glyphicon glyphicon-retweet"></span>&nbsp;{{ user['status']['retweet_count'] }}&nbsp;
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;{{ user['status']['favorite_count'] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- + 2 matches batch number -->
        {% set j = j + 2 %}
        {% endfor %}

    </div>
</div>
{% endblock content %}
